<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waroEng</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="assets/waroEng3.png"/>
        </div>
        <div class="login">
            <select>
                <option value="admin">Admin</option>
                <option value="keluar">Logout</option>
            </select>
        </div>
    </header>

    <div class="box">
        <div class="sidebar">
            <div class="profil">
                <h2>Profil Toko</h2>
                <a href="/dashboard">Profil</a>
                <a href="/asset">Assets</a>
            </div>
            <div class="barang">
                <h2>Barang</h2>
                <a href="/databarang">Data Barang</a>
                <a href="/kategori">Kategori</a>
            </div>
            <div class="penjualan">
                <h2>Penjualan</h2>
                <a href="/approve">Approve</a>
                <a href="/laporanPenjualan">Laporan Penjualan</a>
            </div>
        </div>

        <div class="content">
            <div class="menu">
                <div class="judul">
                    <h1>Assets</h1>
                </div>
                <div style="width: 200px; display: flex;">
                    <a class="hapus lul-pad p-16" style="margin-left: 20px;" href="/hapusAsset">
                        <img src="assets/trash.png" width="20px">
                    </a>
                    <a href="/tambahAset" class="tombol">Tambah</a>
                </div>
            </div>

            <div class="isiaset">
                <div class="wadah">
                    <div class="asetjudul">
                        <p>No</p>
                        <p>Nama Field</p>
                        <p>Foto</p>
                    </div>
                    
                    <% for( let index = 0; index < fotos.length; index++ ) { %>
                        <% const element = fotos[index]; %> 
                        <!-- <form action="/hapusAsset" method="get"> -->
                            <div class="aset1"> 
                                <p> <%= index+1 %> </p>
                                <input type="text" name="id" hidden value="<%= element.id_asset %>">
                                <p><%= element.nama_asset %></p>
                                <img class="gambar" src="<%= element.foto %>" >
                            </div> 
                            <!-- </form> -->
                    <% } %>
                </div> 
            </div>

        </div>
    </div>
    
</body>
</html>