<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waroEng</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="assets/waroEng3.png"/>
        </div>
        <div class="login">
            <select>
                <option value="admin">Admin</option>
                <option value="keluar">Logout</option>
            </select>
        </div>
    </header>

    <div class="box">
        <div class="sidebar">
            <div class="profil">
                <h2>Profil Toko</h2>
                <a href="/dashboard">Profil</a>
                <a href="/asset">Assets</a>
            </div>
            <div class="barang">
                <h2>Barang</h2>
                <a href="/databarang">Data Barang</a>
                <a href="/kategori">Kategori</a>
            </div>
            <div class="penjualan">
                <h2>Penjualan</h2>
                <a href="/approve">Approve</a>
                <a href="/laporanPenjualan">Laporan Penjualan</a>
            </div>
        </div>

       
        <div class="content">
            <div class="menu">
                <div class="jdlapprove">
                    <h1>Edit Barang</h1>
                </div>
            </div>

            <div class="isiedit">
                <form action="/edit-data" method="post">
                    <div class="NT">
                        <p>Nama Produk</p>
                        <input type="text" name="namaProduk">
                    </div>
                    <div class="NT">
                        <p>Jumlah</p>
                        <input type="text" name="jumlah">
                    </div>
                    <div class="NT">
                        <p>Satuan</p>
                        <input type="text" name="satuan">
                    </div>
                    <div class="DS">
                        <p>Deskripsi</p>
                        <input type="text" name="deskripsi">
                    </div>
                    <div class="EM">
                        <p>Jenis</p>
                        <select name="jenis" class="lul-select">
                            <% jenises.forEach((jenis) => { %>
                                <option value="<%= jenis.id_JenisBarang %> " > <%= jenis.nama_jenis %> </option>
                            <% }); %> 
                        </select>
                    </div>
                    <div class="EM">
                        <p>Harga Jual</p>
                        <input type="text" name="hargaJual">
                    </div>
                    <div class="EM">
                        <p>Harga Beli</p>
                        <input type="text" name="hargaBeli">
                    </div>
                    <div class="EM">
                        <p>Foto (Masukan Link Foto)</p>
                        <input type="text" name="foto">
                    </div>
                    <div class="tbledit">
                        <a href="/dataBarang" class="lal-btn-a-back">Kembali</a>
                        <button type="submit" class="lal-btn-submit">Simpan</button>
                    </div>
                </form>                
            </div>
        </div>

    </div>
     
</body>
</html>