<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waroEng</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="waroEng3.png"/>
        </div>
        <div class="login">
            <select>
                <option value="admin">Admin</option>
                <option value="keluar">Logout</option>
            </select>
        </div>
    </header>

    <div class="box">
        <div class="sidebar">
            <div class="profil">
                <h2>Profil Toko</h2>
                <a href="/index">Profil</a>
                <a href="/assets">Assets</a>
            </div>
            <div class="barang">
                <h2>Barang</h2>
                <a href="/dataBarang">Data Barang</a>
                <a href="/kategori">Kategori</a>
            </div>
            <div class="penjualan">
                <h2>Penjualan</h2>
                <a href="/approve">Approve</a>
                <a href="/lapPenjualan">Laporan Penjualan</a>
            </div>
        </div>

        <div class="content">
            <div class="menu">
                <div class="judul">
                    <h1>Profil toko</h1>
                </div>
                <a href="/editProfil" class="tombol">Edit Profil</a>
            </div>

            <div class="isi">
                <div class="nama">
                    <h3>Nama Toko</h3>
                    <p>waroEng</p>
                </div>
                <div class="alamat">
                    <h3>Alamat Toko</h3>
                    <p>Jln. Bungbulang No. 35 Cipadung Wetan RT 07 RW 08 Kec. Cihanjuang Kab. Banjarmasin
                        Provinsi Sumatra Selatan </p>
                </div>
                <div class="deskripsi">
                    <h3>Deskripsi</h3>
                    <p>Toko ini merupakan toko mitra grosir dimana anda dapat membeli apapun yang anda inginkan
                        dan yang anda mau jika anda ingin</p>
                </div>
                <div class="tlp">
                    <h3>Nomor Telepon</h3>
                    <p>+62 813-5763-0782</p>
                </div>
                <div class="email">
                    <h3>Email</h3>
                    <p>1207060000@student.uinsgd.ac.id</p>
                </div>

            </div>

        </div>
    </div>
    
</body>
</html>