<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboar</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="waroEng3.png"/>
        </div>
        <div class="login">
            <select>
                <option value="admin">Admin</option>
                <option value="keluar">Logout</option>
            </select>
        </div>
    </div>

    <div class="sidebar">
        <div class="profil">
            <h3>Profil Toko</h3>
            <P><a href="">Profil</a></p>
            <p><a href="#">Assets</a></p>
        </div>
        <div class="barang">
            <h3>Barang</h3>
            <P><a href="">Data Barang</a></p>
            <p><a href="#">Kategori</a></p>
        </div>
        <div class="penjualan">
            <h3>Penjualan</h3>
            <P><a href="">Approve</a></p>
            <p><a href="#">Laporan Penjualan</a></p>
        </div>
    </div>

    <div class="content">
        <h2>Edit Profil Toko</h2>
    </div>

    
</body>
</html>